<div class="container">
  <div class="row">
    <div class="col-md">
      <h3>Booking Details:</h3>
      <div class="content">
        <div class="message"><strong>Message:</strong> {{ message }} </div>
        <div class="id"><strong>Booking ID:</strong> {{ id }}</div>
        <div class="name"> <strong>Name:</strong> {{ name }} </div>
        <div class="email"> <strong>Email:</strong> {{ email }} </div>
        <div class="mobile"><strong>Mobile:</strong> {{ mobile }} </div>
        <div class="date"><strong>Date: </strong>{{ date }}</div>
        <div class="time"><strong>Appointment time:</strong> {{ time }} </div>
      </div>
    </div>
  </div>
</div>