<app-date-time (dateTimeValues)="storeDateTime($event)"></app-date-time>

<div class="container">
  <div class="row">
    <div class="col-md">
      <h3>Your Details:</h3>
      <app-personal-details (personalDetailsValues)="storePersonalDetails($event)"></app-personal-details>
      <hr />
      <button type="button" class="btn btn-success" (click)="submitBookingRequest()">Submit!</button>
      <hr />
    </div>
    <div class="col-md">
      <h3>Your Booking Details:</h3>

      <div *ngIf="submitted">
        <p><strong>Time:</strong> {{ data[0].start }} - {{ data[0].finish}}</p>
        <p><strong>Date:</strong> {{ data[0].day }}/{{ data[0].month }}/{{ data[0].year }}</p>
        <hr />
        <p>Result: {{ response.result }}</p>
        <p>Booking Id: {{ response.id }}</p>
      </div>
    </div>
  </div>
</div>