<div class="container">
  <div class="row">
    <div class="col-sm">
      <img *ngIf="profilePic" [src]="profilePic" alt="Profile pic should be here" />
    </div>

    <div class="col-sm">
      <h2>About Tracey</h2><br>
      <p>Head Hair and Makeup Artist</p><br>
      <p>Tracey Truong is a makeup professional in Sydney. Having completed an internationally recognised
        certification of the highest level, she has an expansive clientele base and a reputable project portfolio.
        ​</p>
      <p>
        Tracey is honoured to have worked alongside acclaimed professionals in the industry for events including
        high-end catwalk premieres, red carpet events, and fashion and editorial photo shoots. Her extensive knowledge
        in bridal and glamour makeup has led these to be her specialties.
      </p>
      <p>
        Tracey prides herself in the amount of care and precision she takes to create her exclusive style of makeup,
        using only the highest quality products for a long lasting, luxury result. Through her experience, Tracey has
        learned to really work with her clients and involve them in the process to create the ideal look for each
        individual.
      </p>
      <p>
        Tracey's punctuality, reliability, and professionalism will ensure your experience exceeds your expectations.
      </p>



    </div>


  </div>
  <br><br><br>

</div>