<div class="container">
  <!-- <div class="row">
    <div class="col-sm" style="text-align:center;"><br>
      <h2>YOUR DETAILS</h2>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="form-field">
        <div class="field">
          <label for="firstName">First name</label>
          <input type="text" id="firstName" placeholder="Please enter your first name" [formControl]="myForm.controls['firstName']">
        </div>
        <button type="submit" class="submit-button">Submit</button>
      </form>
    </div>
  </div> -->

  <div class="row">
    <div class="col-sm"><br>
      <h3>CHOOSE A DATE</h3>
      <ngb-datepicker #dp [(ngModel)]="pickerModel"></ngb-datepicker>
      <hr />
      <button class="btn btn-sm btn-outline-primary mr-2" (click)="viewSlots()">Check Availability!</button>
      <pre>{{ pickerModel.day }} / {{ pickerModel.month }} / {{ pickerModel.year }}</pre>
      <hr />
    </div>
    <div class="col-sm"><br>
      <h3>CHOOSE A TIME</h3>
      <li *ngFor="let t of allTimes">
        <button class="btn btn-sm btn-outline-primary mr-2" (click)="sendBookingRequest(t.start, t.finish)">
          {{ t.start }} - {{ t.finish}}
        </button>
      </li>
    </div>
  </div>
</div>