<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="picker">
        <h4>Choose your date:</h4>
        <ngb-datepicker #dp [(ngModel)]="datePicker" [ngModelOptions]="{standalone: true}">
        </ngb-datepicker>
      </div>
    </div>
    <div class="col-md">
      <div class="slots">
        <ul>
          <h4>Choose your time:</h4>
          <li *ngFor="let time of timeSlots">
            <button type="button" class="btn btn-link" (click)="selectTime(time)"> {{ time }}</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md" style="text-align:center;">
      <button type="button" [disabled]="!isDateTimeValid" class="btn btn-success" (click)="sendDateTime()">Next</button>
    </div>
  </div>
  <hr />

</div>